@import 'application/reset';
@import 'application/animation';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
}

.el-notification {
    .el-notification__group {
        flex: 1;
        position: relative;

        .el-notification__closeBtn {
            top: 4px;
            right: -24px;
        }
    }
}